.list {
    text-align: center;
  }
   .box {
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
    background-color: #fff;
    padding: 30px 20px;
    transition: 0.5s;
  }

  .list h1 {
    font-weight: 500;
    font-size: 20px;
    margin: 20px 0;
    line-height: 30px;
  }
  .list span {
    background-color: #f8f8f8;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 15px;
    color: #1eb2a6;
    border-radius: 5px;
  }
  .online .box .show {
    opacity: 0;
  }
  .online .box:hover {
    background-color: #1eb2a6;
    border-radius: 5px;
    cursor: pointer;
  }
  .online .box:hover .show {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .online .box:hover h1 {
    color: #fff;
  }

  .grid3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }

  .main_list{
    position: relative;
    width: 500px;
    height: 60px;
  }

  .box_list{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
  }

  .btn_list{
    position: absolute;
    top: 0;
   right: 0;
    width: 30px;
    padding: 10px 20px;
    background: #1eb2a6;
  }
  /*-------------online---------*/
  @media screen and (max-width: 768px) {
  }